* {
    font-family: 'Unica One', cursive;
}
a {
    text-decoration: none !important;
    color: #131212 !important;
}
i {
    cursor: pointer;
}
body {
    background: #E5E5E5;
}
.color:nth-child(5) {
    background-color: #F2C758;
}
.color:nth-child(2) {
    background-color: #B6A179;
}
.color:nth-child(3) {
    background-color: #272425;
}
.color:nth-child(4) {
    background-color: #6389CB;
}
.color {
    height: 35px;
    border-radius: 90% !important;
    width: 35px;
    border: none !important;
}
.size button {
    width: 47.17px;
}
img {
    position: absolute;
    top: 8%;
    z-index: -1;
    right: 20%;
}
.pointer {
    cursor: pointer;
}
.footer {
    margin-top: 20%!important;
}
.deg {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: lr-tb;
    position: absolute;

}