* {
    font-family: 'Unica One', cursive;
}
a {
    text-decoration: none !important;
    color: #131212 !important;
}
i {
    cursor: pointer;
}
body {
    background: #E5E5E5;
}
.color:nth-child(5) {
    background-color: blue;
}
.color:nth-child(2) {
    background-color: red;
}
.color:nth-child(3) {
    background-color: black;
}
.color:nth-child(4) {
    background-color: yellow;
}
.color {
    height: 35px;
    border-radius: 90% !important;
    width: 35px;
    border: none !important;
}
.size button {
    width: 47.17px;
}
img {
    position: absolute;
    top: 8%;
    z-index: -1;
    right: 28%;
}
.footer {
    margin-top: 20%!important;
}